.login-page{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: linear-gradient(45deg, purple, skyblue);
}
.login-form{
  width: 400px;
  background-color: white;
  border-radius: 10px;
}